<!DOCTYPE html>
<html>

<head>
    <title>404</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{text}}</p>
        <img class="portrait" src="img/94167.png" alt="img">
    </div>
    {{>footer}}
</body>

</html>